* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

header {
  text-align: center;
}

header img {
  cursor: pointer;
}

header ul li {
  display: inline-block;
}

header ul li a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 24px;
}

header ul li a:hover {
  background-color: #b3e5fc;
}

footer .footer-cont {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

footer .footer-cont .footer-logo {
  width: 35%;
}

footer .footer-cont .footer-items {
  width: 65%;
  height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

footer .footer-cont .footer-items .footer-item {
  width: 200px;
}

footer .footer-cont .footer-items .footer-item p {
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  color: #002d75;
}

footer .footer-cont .footer-items .footer-item a {
  text-decoration: none;
  display: block;
  color: #808080;
  font-size: 18px;
}

main {
  background: url(/images/fondo-pag-speciali.jpg?2f95c43d2f5c6ce37bf1838709b316a3);
}

main .container-pasta h2 {
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #002d75;
}

main .container-pasta .container-tipo-pasta {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

main .container-pasta .container-tipo-pasta div.pasta {
  background-color: red;
  width: 350px;
  height: 300px;
  position: relative;
  margin: 5px;
}

main .container-pasta .container-tipo-pasta div.pasta:hover {
  cursor: pointer;
}

main .container-pasta .container-tipo-pasta div.pasta img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .container-pasta .container-tipo-pasta div.pasta span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

